<header class="index-banner">
	<!-- nav -->

	<!-- //nav -->
	<!-- banner -->
	<div class="banner layer" id="home">
		<div class="container">
			<div class="row banner-text">
				<div class="slider-info col-lg-8">
					<div class="agileinfo-logo mt-5">
						<img src="assets/images/BALANCE.png" width="80" alt="logo">
						<h2 data-aos="fade-down">
							 Struggling with your weight?
						</h2>
					</div>
					<h4 class="txt-w3_agile text-light" data-aos="fade-down"> Let Balance Dyte help you! Our expert nutritionists will create the perfect diet plan tailored to your lifestyle and needs.</h4>
					<a class="btn mt-4 mr-2 text-capitalize scroll" href="#dietplan"  role="button">Get Plan</a>
					<!-- <a class="btn mt-4 text-capitalize" data-aos="fade-up" href="#" data-toggle="modal"
						data-target="#exampleModal" role="button">watch video <i class="fas fa-play-circle"></i></a> -->
				</div>
			</div>
		</div>
	</div>
	<!-- //banner -->
</header>
<!-- banner bottom -->
<section class="banner-bottom py-5" id="dietplan">
	<div class="container py-md-3">
		<app-diet-form ></app-diet-form>

		<!-- <h4 class="text-center" data-aos="zoom-in">Trusted by the world's best companies</h4>
		<ul class="list-unstyled pt-5 partners-icon text-center">
			<li data-aos="fade-up">
				<i class="fab fa-supple clr1"></i>
			</li>
			<li data-aos="fade-up">
				<i class="fab fa-aviato clr2"></i>
			</li>
			<li data-aos="fade-up">
				<i class="fab fa-cpanel clr3"></i>
			</li>
			<li data-aos="fade-up">
				<i class="fab fa-hooli clr4"></i>
			</li>
			<li data-aos="fade-up">
				<i class="fab fa-supple clr5"></i>
			</li>
			<li data-aos="fade-up">
				<i class="fab fa-aviato clr6"></i>
			</li>
		</ul> -->
	</div>
</section>
<!-- //banner bottom -->

<!-- why choose us -->
<section class="choose py-5" id="choose">
	<div class="container py-md-3">
		<h3 class="heading mb-5 text-center" data-aos="zoom-in"> Why Choose Us</h3>
		<div class="feature-grids row">
			<div class="col-lg-4 col-md-6" data-aos="fade-right">
				<div class="f1 icon1 p-4">
					<img src="assets/images/dedicated-vector.jpg" width="60" alt="Dedicated & Empowering">
					<!-- <i class="fab fa-bandcamp"></i> -->
					<h3 class="my-3">Dedicated & Empowering</h3>
					<p>Balance Dyte is devoted to empowering a long-lasting movement to a better way of life with an astonishing supervisory group.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6" data-aos="fade-up">
				<div class="f1 icon2 p-4">
					<img src="assets/images/safe-secure.jpg" width="60" alt="safe-secure">
					<!-- <i class="fab fa-codepen"></i> -->
					<h3 class="my-3">Safe & Secure</h3>
					<p>Balance Dyte has been changing lives across the world with hundred percent commitment and customary observing. Consistently we converse with our clients to examine the week's advancement.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mt-lg-0 mt-4" data-aos="fade-left">
				<div class="f1 icon3 p-4">
					<img src="assets/images/guaranteed.jpg" width="60" alt="safe-secure">
					<!-- <i class="fab fa-bitcoin"></i> -->
					<h3 class="my-3">Guaranted result</h3>
					<p>We guarantee you results, positive relationship with food and raised self-assurance. We should make the way of weight reduction simple!</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //why choose us -->

<!-- quote -->
<section class="quote bg-light py-5">
	<div class="container py-md-3" data-aos="fade-up">
		<h4>We offer diet consultations and plans online over telephone, WhatsApp, skype, messages and so forth.</h4>
		<div class="start text-right mt-4" data-aos="flip-left">
			<a class="scroll" href="#dietplan">Get Started </a>
		</div>
		<div class="clearfix"></div>
	</div>
</section>
<!-- //quote -->

<!-- process -->
<section class="process py-5" id="overview">
	<div class="container py-md-5">
		<div class="row process-grids">
			<div class="col-lg-6" data-aos="fade-right">
				<h4 class="mb-4">We help you manage your weight with help of customized diet plan.</h4>
				<p class="mb-3">In a quick moving world, large numbers of us don't get time to check in for their weight control plans genuinely. We offer eating routine conferences and plans online over telephone, WhatsApp, skype, messages and so forth.</p>
				<p> Sustain Me has been changing lives across the world with hundred percent devotion and standard checking. Consistently we converse with our clients to talk about the week's advancement and send them modified plans in view of the advancement.</p>
			</div>
			<div class="col-md-6" data-aos="fade-left">
				<img src="assets/images/diet-1.jpg" alt="" class="img-fluid" />
			</div>
			<div class="col-md-6 px-5 mt-5" data-aos="fade-right">
				<img src="assets/images/diet-2.jpg" alt="" class="img-fluid" />
			</div>
			<div class="col-lg-6 mt-5" data-aos="fade-left">
				<h4 class="mb-4">Are you ready to make a commitment to healthier eating? Get the help you need from Balance Dyte!</h4>
				<p class="mb-3">Getting all that done right despite everything not shedding pounds? Body digestion is designed to dial back with age. We at sustain target weight reduction as well as make intends to fire up your digestion forever. Our get-healthy plan depends on logical review, intended for functional living and spotlights on week after week objectives.</p>
				<p> We offer customized dietary consideration, organized abstains from food for your way of life to rejuvenate dietary patterns.</p>
			</div>
		</div>
	</div>
</section>
<!-- //process -->

<!--/pricing -->
<!-- <section class="pricing bg-light py-5" id="pricing">
	<div class="container py-lg-3">
		<div class="inner-sec">
			<h3 class="heading mb-5 text-center" data-aos="zoom-in"> Pricing plans</h3>
			<div class="price-right">
				<div class="tabs">
					<ul class="nav nav-pills my-md-5 my-3 justify-content-center" id="pills-tab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
								role="tab" aria-controls="pills-home" aria-selected="true">Weekly</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
								role="tab" aria-controls="pills-profile" aria-selected="false">Monthly</a>
						</li>

					</ul>
					<div class="tab-content" id="pills-tabContent">
						<div class="tab-pane fade show active" id="pills-home" role="tabpanel"
							aria-labelledby="pills-home-tab">
							<div class="menu-grids">
								<div class="row t-in">
									<div class="col-lg-3 col-sm-6 price-main-info" data-aos="zoom-in-up">
										<div class="price-inner card box-shadow p-4">

											<div class="card-body">
												<h4 class="">Basic</h4>
												<h5 class="card-title pricing-card-title">
													<span class=""></span>Free

												</h5>
												<ul class="list-unstyled mt-3 mb-4">
													<li>100 MB Disk Space</li>
													<li>2 Sub domains</li>
													<li>5 Email Accounts</li>
													<li>24/7 support</li>
												</ul>
												<div class="log-in mt-md-3 mt-2">
													<a class="btn scroll" href="#contact">Select</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-sm-6 mt-md-0 mt-5 price-main-info" data-aos="zoom-in-up">
										<div class="price-inner card box-shadow p-4">

											<div class="card-body">
												<h4 class="">Satandard</h4>
												<h5 class="card-title pricing-card-title">
													<span class="">$</span>30<span>/mon</span>

												</h5>
												<ul class="list-unstyled mt-3 mb-4">
													<li>100 MB Disk Space</li>
													<li>2 Sub domains</li>
													<li>5 Email Accounts</li>
													<li>24/7 support</li>
												</ul>
												<div class="log-in mt-md-3 mt-2">
													<a class="btn scroll" href="#contact">Select</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-sm-6 mt-lg-0 mt-5 price-main-info" data-aos="zoom-in-up">
										<div class="price-inner card box-shadow p-4">

											<div class="card-body">
												<h4 class="">Business</h4>
												<h5 class="card-title pricing-card-title">
													<span class="">$</span>90<span>/mon</span>

												</h5>
												<ul class="list-unstyled mt-3 mb-4">
													<li>100 MB Disk Space</li>
													<li>2 Sub domains</li>
													<li>5 Email Accounts</li>
													<li>24/7 support</li>
												</ul>
												<div class="log-in mt-md-3 mt-2">
													<a class="btn scroll" href="#contact">Select</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-sm-6 mt-lg-0 mt-5 price-main-info" data-aos="zoom-in-up">
										<div class="price-inner card box-shadow p-4">

											<div class="card-body">
												<h4 class="">Basic</h4>
												<h5 class="card-title pricing-card-title">
													<span class="">$</span>120<span>/mon</span>

												</h5>
												<ul class="list-unstyled mt-3 mb-4">
													<li>100 MB Disk Space</li>
													<li>2 Sub domains</li>
													<li>5 Email Accounts</li>
													<li>24/7 support</li>
												</ul>
												<div class="log-in mt-md-3 mt-2">
													<a class="btn scroll" href="#contact">Select</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="pills-profile" role="tabpanel"
							aria-labelledby="pills-profile-tab">
							<div class="menu-grids mt-4">
								<div class="row t-in">
									<div class="col-lg-3 col-sm-6 price-main-info" data-aos="zoom-in-up">
										<div class="price-inner card box-shadow p-4">

											<div class="card-body">
												<h4 class="">Standard</h4>
												<h5 class="card-title pricing-card-title">
													<span class="">$</span>60

												</h5>
												<ul class="list-unstyled mt-3 mb-4">
													<li>100 MB Disk Space</li>
													<li>2 Sub domains</li>
													<li>5 Email Accounts</li>
													<li>24/7 support</li>
												</ul>
												<div class="log-in mt-md-3 mt-2">
													<a class="btn scroll" href="#contact">Select</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-sm-6 mt-md-0 mt-5 price-main-info" data-aos="zoom-in-up">
										<div class="price-inner card box-shadow p-4">

											<div class="card-body">
												<h4 class="">Business</h4>
												<h5 class="card-title pricing-card-title">
													<span class="">$</span>80

												</h5>
												<ul class="list-unstyled mt-3 mb-4">
													<li>100 MB Disk Space</li>
													<li>2 Sub domains</li>
													<li>5 Email Accounts</li>
													<li>24/7 support</li>
												</ul>
												<div class="log-in mt-md-3 mt-2">
													<a class="btn scroll" href="#contact">Select</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-sm-6 mt-lg-0 mt-5 price-main-info" data-aos="zoom-in-up">
										<div class="price-inner card box-shadow p-4">

											<div class="card-body">
												<h4 class="">Business</h4>
												<h5 class="card-title pricing-card-title">
													<span class="">$</span>90

												</h5>
												<ul class="list-unstyled mt-3 mb-4">
													<li>100 MB Disk Space</li>
													<li>2 Sub domains</li>
													<li>5 Email Accounts</li>
													<li>24/7 support</li>
												</ul>
												<div class="log-in mt-md-3 mt-2">
													<a class="btn scroll" href="#contact">Select</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-sm-6 mt-lg-0 mt-5 price-main-info" data-aos="zoom-in-up">
										<div class="price-inner card box-shadow p-4">

											<div class="card-body">
												<h4 class="">Advance</h4>
												<h5 class="card-title pricing-card-title">
													<span class="">$</span>90

												</h5>
												<ul class="list-unstyled mt-3 mb-4">
													<li>100 MB Disk Space</li>
													<li>2 Sub domains</li>
													<li>5 Email Accounts</li>
													<li>24/7 support</li>
												</ul>
												<div class="log-in mt-md-3 mt-2">
													<a class="btn scroll" href="#contact">Select</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section> -->
<!-- //pricing -->


<!-- testimonials -->
<section class="testimonials bg-light py-5" id="testimonials">
	<div class="container py-lg-3">
		<h3 class="heading mb-5 text-center" data-aos="zoom-in"> Honorable Clients</h3>
		<div class="row test-grids align-center">
			<div class="col-md-1 col-sm-7 col-9" data-aos="zoom-in">
				<!-- <img src="assets/images/b3.png" alt="" class="img-fluid" /> -->
			</div>
			<div class="col-md-10">
				<div class="callbacks_container">
					<ul class="rslides" id="slider3">
						<li data-aos="fade-down">
							<div class="testi-pos" style="margin: auto; text-align: center;">
								
								<h4>Divya</h4>
								<!-- <span class="">- congue leo</span> -->
								<!-- <ul class="d-flex mt-2" style="margin: auto; text-align: center;">
									<li><i class="fas mr-1 fa-star"></i></li>
									<li><i class="fas mr-1 fa-star"></i></li>
									<li><i class="fas mr-1 fa-star"></i></li>
									<li><i class="fas mr-1 fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
								</ul> -->
								<div class="col-md-4 col-sm-7 col-9" data-aos="zoom-in" style="margin: auto;">
									<img src="assets/images/client-2.jpg" alt="" class="img-fluid" />
								</div>
							</div>
							<div class="testi-agile" style="margin: auto; text-align: center;">
								<p>
									<i class="fas fa-quote-left pr-3"></i>Balance Dyte's diets are working for me quite well. The best thing about her eating routine is that I don't feel denied of anything. They are sans bother and possible and one doesn't need to make a special effort searching for fixings. I have likewise found it simple to follow while voyaging. Balance Dyte odology is extremely expert and that is the very thing that I like about them.
								</p>
							</div>
						</li>
						<li data-aos="fade-down">
							<div class="testi-pos" style="margin: auto; text-align: center;">
								
								<h4>Manmeet kaur</h4>
								<div class="col-md-4 col-sm-7 col-9" data-aos="zoom-in" style="margin: auto; text-align: center;">
									<img src="assets/images/client-1.jpg" alt="" class="img-fluid" />
								</div>
							</div>
							<div class="testi-agile" style="margin: auto; text-align: center;">
								<p>
									<i class="fas fa-quote-left pr-3"></i>I lost 10 kgs with Balance Dyte in a range of 2 months 15 days. What I truly like is their disposition and uplifting perspective. They designs their diet plan around the things you like to eat and there are dependably choices :). Am as yet eating my chicken and paneer however the correct way. Truly on the off chance that you could get thinner yourself you have at this point, yet a little assistance from Balance Dyte will be sufficient to keep you fit and solid.
								</p>
							</div>
						</li>
						<li data-aos="fade-down">
							<div class="testi-pos" style="margin: auto; text-align: center;">
								
								<h4>Ashwini</h4>
								<div class="col-md-4 col-sm-7 col-9" data-aos="zoom-in" style="margin: auto; text-align: center;">
									<img src="assets/images/client-3.jpg" alt="" class="img-fluid" />
								</div>
							</div>
							<div class="testi-agile" style="margin: auto; text-align: center;">
								<p>
									<i class="fas fa-quote-left pr-3"></i>In the present quick life ,we for the most part don't know about our wellbeing neither one of the we deal with it. Feed Me won't just make that awareness,but likewise will persuade you towards it.They will direct you with solid adjusted diet, alongside appropriate wellness system. Balance Dyte is an extraordinary influence....as they has been one in my life. Simply be consistent with yourself, work towards it and see the distinction.
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //testimonials -->

<!-- contact -->
<!-- <section class="contact py-5" id="contact">
	<div class="container py-lg-3">
		<h3 class="heading mb-5 text-center" data-aos="zoom-in"> Get in touch</h3>
		<form action="#" method="post" data-aos="fade-up">
			<div class="row">
				<div class="col-md-6 styled-input mt-0">
					<input type="text" name="Name" placeholder="First Name" required="">
				</div>
				<div class="col-md-6 styled-input mt-md-0">
					<input type="text" name="Name" placeholder="Last Name" required="">
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 styled-input">
					<input type="email" name="Email" placeholder="Email" required="">
				</div>
				<div class="col-md-6 styled-input">
					<input type="text" name="phone" placeholder="Phone Number" required="">
				</div>
			</div>
			<div class="styled-input">
				<textarea name="Message" placeholder="Message" required=""></textarea>
			</div>
			<div class="click text-center mt-3">
				<input type="submit" value="Submit">
			</div>
		</form>
	</div>
</section> -->
<!-- //contact -->