.mat-form-field {
    width: 100%;
}

.form-group {
    margin: auto;
    text-align: center;
    align-items: center;
}

.mat-mdc-form-field {
    display: block;
}

.details-value {
    padding: 6px 6px 6px 0;
}

.details-header {
    padding: 8px 8px 8px 0;
}

.details-header.nth-child {
    margin-top: 2rem;
}

.details-value span {
    font-weight: 600;
    padding: 3px;
}

.btn {
    margin: 3px;
}

@media (min-width: 940px) {
    .form-group {
        width: 60%;
    }
}

/* server messages */

#serverSuccess {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50px);
    bottom: 10%;
    background-color: rgba(169, 246, 166, 0.948);
    padding: 4px 16px;
    color: green;
    border-radius: 3px;
    border: 1px solid green;
    opacity: 0;
    text-align: center;
    /* transform: translate(0, -50px); */
    visibility: hidden;
    transition: 0.3s ease-in-out;
    z-index: 1000;
}

.btnDiv {
    text-align: center;
    margin: auto;
}

#serverMsgBtn {
    border-radius: 3px;
    opacity: 0;
    /* transform: translate(0, -50px); */
    visibility: hidden;
    transition: 0.3s ease-in-out;
    z-index: 1000;
    margin-top: 6px;
    text-align: center;
}

@media (max-width: 640px) {
    #serverSuccess {
        width: 95%;
    }
}


/* ::ng-deep .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #215705
} */

::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: #215705!important;
    /* color: black; */
}

::ng-deep .mat-step-header .mat-step-icon-state-edit{
    background-color: #215705!important;
    /* color: black; */
}

::ng-deep .mat-mdc-raised-button:not(:disabled) {
    background-color: #215705!important;
    /* color: black!important; */
}


::ng-deep .mat-mdc-outlined-button:not(:disabled) {
    border-color: #215705!important;
    /* color: black!important; */
}


::ng-deep .custom-style{
    background-color:brown;
    color:white;
  }
  #duration-label {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  #duration-label::after {
    content: attr(data-duration);
    position: absolute;
    top: 23px;
    left: 28px;
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    display: block;
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    padding: 1px 6px;
    border-radius: 12px;
    background-color: rgba(191, 191, 191, 0.598);
}

  #weight-label {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  #weight-label::after {
    content: attr(data-duration);
    position: absolute;
    top: 23px;
    left: 29px;
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    display: block;
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    padding: 1px 6px;
    border-radius: 12px;
    background-color: rgba(191, 191, 191, 0.598);
}