<mat-horizontal-stepper #stepper (selectionChange)="done()" [linear]="linear">
  <!-- [linear]="linear" -->
  <mat-step [stepControl]="personalDetailsFormGroup">
    <form [formGroup]="personalDetailsFormGroup">
      <ng-template matStepLabel>Personal Details</ng-template>
      <div class="form-group">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <mat-form-field>
            <mat-label>Fullname</mat-label>
            <input matInput formControlName="fullname">
            <mat-error>Name is required</mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-12">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
            <mat-error *ngIf="personalDetailsFormGroup.controls['email'].hasError('required')">Email is
              required</mat-error>
            <mat-error *ngIf="personalDetailsFormGroup.controls['email'].hasError('email')">Please provide a valid
              email</mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-12">
          <mat-form-field>
            <mat-label>Contact No</mat-label>
            <input matInput formControlName="phone">
            <mat-error *ngIf="personalDetailsFormGroup.controls['phone'].hasError('required')">Contact no. is
              required</mat-error>
            <mat-error *ngIf="personalDetailsFormGroup.controls['phone'].hasError('pattern')">Please enter a valid phone
              number</mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-12">
          <mat-form-field>
            <mat-label>Gender</mat-label>
            <input matInput formControlName="gender" style="visibility: hidden;">
            <mat-radio-group matInput class="gender" formControlName="gender">
              <mat-radio-button color="primary" style="padding:4px 4px 0px 0px;" value="Male">Male</mat-radio-button>
              <mat-radio-button color="primary" style="padding:4px 0px 0px 24px;" value="Female">Female
              </mat-radio-button>
            </mat-radio-group>
            <mat-error>
              Please provide gender
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-12">
          <mat-form-field>
            <mat-label>Age in years</mat-label>
            <input matInput formControlName="age">
            <mat-error>Mention your current age</mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-12">
          <button class="btn" mat-raised-button color="primary" mat-button matStepperNext>Next</button>
        </div>
      </div>

    </form>
  </mat-step>
  <mat-step [stepControl]="goalPlanDetailsFormGroup">
    <form [formGroup]="goalPlanDetailsFormGroup">
      <ng-template matStepLabel>Goal Plan details</ng-template>
      <div class="form-group">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <mat-form-field>
            <mat-label>Duration of Plan in months; ex: 1 month</mat-label>
            <label id="duration-label" data-duration="months" ></label>
            <input matInput formControlName="duration" (focusin)="addPostfix('duration-label')" (focusout)="removePostfix('duration-label')">
            <mat-error>Plan duration is required</mat-error> 
          </mat-form-field>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <mat-form-field>
            <mat-label>Your goal(s); ex: wants to be fit</mat-label>
            <input matInput formControlName="goals">
            <mat-error>Mention your goals</mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-12">
          <mat-form-field>
            <label id="weight-label" data-duration="Kg(s)" ></label>
            <mat-label>Weight in Kg(s)</mat-label>
            <input matInput type="number" formControlName="weight" (focusin)="addPostfix('weight-label')" (focusout)="removePostfix('weight-label')">
            <mat-error>Provide your weight in Kg</mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-12">
          <mat-form-field>
            <mat-label>Height in feet inches</mat-label>
            <input type="text" matInput formControlName="height">
            <mat-error>Provide your height in Feet inches</mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-12">
          <mat-form-field>
            <mat-label>Lose/Gain weight</mat-label>
            <input matInput formControlName="loseORgain" style="visibility: hidden;">
            <mat-radio-group matInput class="gender" formControlName="loseORgain">
              <mat-radio-button color="primary" style="padding:4px 4px 0px 0px;" value="Lose">Lose</mat-radio-button>
              <mat-radio-button color="primary" style="padding:4px 0px 0px 24px;" value="Gain">Gain
              </mat-radio-button>
            </mat-radio-group>
            <mat-error>
              Mention Lose/Gain
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-12">
          <button class="btn" mat-stroked-button color="accent" mat-button matStepperPrevious>Back</button>
          <button class="btn" mat-raised-button color="primary" mat-button matStepperNext>Next</button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="otherDetailsFormGroup">
    <form [formGroup]="otherDetailsFormGroup">
      <ng-template matStepLabel>Other details</ng-template>
      <div class="form-group">
        <div class="col-lg-12">
          <mat-form-field>
            <mat-label>Any food you are having allergy with?</mat-label>
            <input matInput formControlName="foodAllergy">
            <mat-error>Mention food allergy if any</mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <mat-form-field>
            <mat-label>Mention if any medical issue or taking any medicines</mat-label>
            <input matInput formControlName="medicalIssue">
            <mat-error>Mention if any medical issue</mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-12">
          <mat-form-field>
            <mat-label>Veg / Non-veg / Just Egg</mat-label>
            <input matInput formControlName="foodType" style="visibility: hidden;">
            <mat-radio-group matInput formControlName="foodType">
              <mat-radio-button color="primary" style="padding:4px 4px 0px 0px;" value="Veg">Veg</mat-radio-button>
              <mat-radio-button color="primary" style="padding:4px 0px 0px 24px;" value="Non-veg">Non-veg
              </mat-radio-button>
              <mat-radio-button color="primary" style="padding:4px 0px 0px 24px;" value="Just Egg">Just Egg
              </mat-radio-button>
            </mat-radio-group>
            <mat-error>
              Mention Veg / Non-veg / Just Egg
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-12">
          <mat-form-field>
            <mat-label>Do you go to gym?</mat-label>
            <input matInput formControlName="goingGym" style="visibility: hidden;">
            <mat-radio-group matInput formControlName="goingGym">
              <mat-radio-button color="primary" style="padding:4px 4px 0px 0px;" value="Yes">Yes</mat-radio-button>
              <mat-radio-button color="primary" style="padding:4px 0px 0px 24px;" value="No">No
              </mat-radio-button>
            </mat-radio-group>
            <mat-error>
              Mention whether you go to gym or not
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-12">
          <mat-form-field>
            <mat-label>Physically Active?</mat-label>
            <input matInput formControlName="physicallyActive" style="visibility: hidden;">
            <mat-radio-group matInput formControlName="physicallyActive">
              <mat-radio-button color="primary" style="padding:4px 4px 0px 0px;" value="Yes">Yes</mat-radio-button>
              <mat-radio-button color="primary" style="padding:4px 0px 0px 24px;" value="No">No
              </mat-radio-button>
            </mat-radio-group>
            <mat-error>
              Mention whether you are physically active or not?
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-12">
          <button class="btn" mat-stroked-button color="accent" mat-button matStepperPrevious>Back</button>
          <button class="btn" mat-raised-button color="primary" mat-button matStepperNext (click)="done()">Next</button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step [completed]="completed" [state]="state">
    <ng-template matStepLabel>
      <p (click)="done()"></p> Complete
    </ng-template>
    <div class="row">
      <div class="col-lg-4">
        <mat-card matRipple>

          <mat-card-header style="display:flex">
            <mat-card-title style="flex: 1 1 auto">Personal Details</mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <mat-card-content>
              <div class="details-value">
                <h6> <span>Name: </span>
                  {{ personalDetailsFormObject?.fullname }}</h6>
              </div>
            </mat-card-content>

            <mat-card-content>
              <div class="details-value">
                <h6><span>Email:</span>
                  {{ personalDetailsFormObject?.email }}</h6>
              </div>
            </mat-card-content>

            <mat-card-content>
              <div class="details-value">
                <h6><span>Contact Number:</span> {{ personalDetailsFormObject?.phone }}</h6>
              </div>
            </mat-card-content>

            <mat-card-content>
              <div class="details-value">
                <h6><span>Gender:</span> {{ personalDetailsFormObject?.gender }}</h6>
              </div>
            </mat-card-content>

            <mat-card-content>
              <div class="details-value">
                <h6> <span>Age: </span>
                  {{ personalDetailsFormObject?.age }}</h6>
              </div>
            </mat-card-content>
          </mat-card-content>
          <!--  <mat-card-actions style="display:flex; justify-content: flex-end">
              <button mat-button color="primary">Edit</button>
            </mat-card-actions> -->
        </mat-card>
      </div>

      <div class="col-lg-4">
        <mat-card matRipple>

          <mat-card-header style="display:flex">
            <mat-card-title style="flex: 1 1 auto">Goal Plan Details</mat-card-title>
          </mat-card-header>

          <mat-card-content>


            <mat-card-content>
              <div class="details-value">
                <h6><span>Duration of Plan(in months):</span>
                  {{ goalDetailsFormObject?.duration }}</h6>
              </div>
            </mat-card-content>

            <mat-card-content>
              <div class="details-value">
                <h6><span>Your Goals:</span> {{ goalDetailsFormObject?.goals }}</h6>
              </div>
            </mat-card-content>

            <mat-card-content>
              <div class="details-value">
                <h6><span>Weight(in kg(s)):</span> {{ goalDetailsFormObject?.weight }}</h6>
              </div>
            </mat-card-content>

            <mat-card-content>
              <div class="details-value">
                <h6><span>Height(in feet inches):</span> {{ goalDetailsFormObject?.height }}</h6>
              </div>
            </mat-card-content>

            <mat-card-content>
              <div class="details-value">
                <h6><span>Lose/Gain Weight:</span> {{ goalDetailsFormObject?.loseORgain }}</h6>
              </div>
            </mat-card-content>

          </mat-card-content>

          <!-- <mat-card-actions style="display:flex; justify-content: flex-end">
              <button mat-button color="primary">Edit</button>
            </mat-card-actions> -->

        </mat-card>
      </div>

      <div class="col-lg-4">
        <mat-card matRipple>

          <mat-card-header style="display:flex">
            <mat-card-title style="flex: 1 1 auto">Other Details</mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <mat-card-content>
              <div class="details-value">
                <h6> <span>Any food allergy: </span>
                  {{ otherDetailsFormObject?.foodAllergy ? otherDetailsFormObject?.foodAllergy : 'No allergy' }}</h6>
              </div>
            </mat-card-content>

            <mat-card-content>
              <div class="details-value">
                <h6><span>Any Medical issue/Taking any medicines?:</span>
                  {{ otherDetailsFormObject?.medicalIssue ? otherDetailsFormObject?.medicalIssue : 'No medical issue' }}
                </h6>
              </div>
            </mat-card-content>

            <mat-card-content>
              <div class="details-value">
                <h6><span>Veg / Non-veg / Just Egg:</span> {{ otherDetailsFormObject?.foodType }}</h6>
              </div>
            </mat-card-content>

            <mat-card-content>
              <div class="details-value">
                <h6><span>Going Gym:</span> {{ otherDetailsFormObject?.goingGym }}</h6>
              </div>
            </mat-card-content>

            <mat-card-content>
              <div class="details-value">
                <h6><span>Physically Active:</span> {{ otherDetailsFormObject?.physicallyActive }}</h6>
              </div>
            </mat-card-content>

          </mat-card-content>
          <!-- <mat-card-actions style="display:flex; justify-content: flex-end">
              <button mat-button color="primary">Edit</button>
            </mat-card-actions> -->
        </mat-card>
      </div>
    </div>

    <div style="float: right;">
      <button class="btn" mat-stroked-button color="accent" matStepperPrevious>Back</button>
      <button class="btn" mat-raised-button color="primary" (click)="submitForm()" role="button">Submit</button>
    </div>
    <!-- data-toggle="modal"
      data-target="#exampleModalCenter1" -->
  </mat-step>


</mat-horizontal-stepper>

<app-spinner *ngIf="isLoading"></app-spinner>

<div id="serverSuccess">Success </div>
<div class="btnDiv">

  <button id="serverMsgBtn" class="btn btn-success" style="float: right;" (click)="onClearErrors()">Ok</button>
</div>